{% extends "testbase/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'testbase/styles.css' %}">
{% endblock %}

{% block body %}
    <h1>Full database of beers logged</h1>
    <div class="container">
        <div class="leftdiv">
            {% for beer in beerslist%}
            <div class="beername">Name: {{ beer.name }}</div>
            {% endfor %}
        </div>
        <div class="rightdiv">
            {% for beer in beerslist%}
            <div class="beerstyle">Style: {{ beer.style }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}