/* ctrl-f5 refresh in browser may be needed to reflect static (including js?) changes */

* {
    margin: 0px;
    padding: 0px;

}

body {
    padding: 10px;
    margin: 10px;
    border: 3px solid black;

}
/* */

#title {
    font-size: 36px;
    margin-left: 20px;
}

 /* */

#choice-container{
    margin-top: 20px;
    height: 110px;
}

#lang-menu-container {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    
}

#lang-menu {
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}


/* */

.language-type-container {
    display: none;
    margin-left: 20px;
}

.function-menu {
    font-size: 30px;
    margin-right: 10px;

    border-radius: 10px;
    padding: 5px;

}

.function-name {
    font-size: 24px;
}

/* */

#full-data-container {
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
}

.data-container {
    border-bottom: 1px dashed black;
}

#bottom-data-container {
    border-bottom: none;
}

.data-title {
    font-size: 36px;
    font-style: italic;
    margin-left: 30px;
}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ 
   allows for an expanding text area (which can't autoexpand by conventional methods) */
   
.data-grow-wrap {
    display: grid;
}

.data-grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.data-grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.data-grow-wrap > textarea,
.data-grow-wrap::after {
/* necessary so that multiple lines won't hide the top line */
  padding: 0.5rem;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* pointer-events: none; can make it so can't click on the box */
.data-field {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: auto;
    color: black;
    border: none;
}

