/* ctrl-f5 refresh in browser may be needed to reflect static (including js?) changes */

* {
    margin: 0px;
    padding: 0px;

}

body {
    padding: 10px;
    margin: 10px;
    border: 3px solid black;

}
/* */

#title {
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
}

 /* */

#choice-container{
    border: 3px solid black;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#lang-menu-container {
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#lang-menu {
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}

.lang-menu,
.function-menu {
    width: auto;
}


/* */

.language-type-container {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.function-menu {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

#new-function-type-button {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

.function-name {
    font-size: 24px;
}

#new-data-type-container {
    display: none;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}
/* */

#full-data-container {
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
}

.data-container {
    border-bottom: 1px dashed black;
}

#bottom-data-container {
    border-bottom: none;
}

.data-title {
    font-size: 36px;
    font-style: italic;
    margin-left: 30px;
}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ 
   allows for an expanding text area (which can't autoexpand by conventional methods) */
   
.data-grow-wrap {
    display: grid;

    margin-right: 20px;
}

.data-grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.data-grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.data-grow-wrap > textarea,
.data-grow-wrap::after {
/* necessary so that multiple lines won't hide the top line */
  padding: 0.5rem;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* pointer-events: none; can make it so can't click on the box */
/* height: auto; for resizing the window / making the box bigger with more text, but stopped working at some stage...? */
.data-field {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: auto;
    color: black;
    border: none;
    margin-right: 10px;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 5px;
}

#function-name-container {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
}

.add-new {
    color:white;
    background-color: black;
}

#delete-function-type {
    color: red;
    background-color: black;
}

.data-field-choice {
    height: 32px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    padding-left: 10px;
    width: 90%;
    background-color: lightcyan;
}

#function-name-container {
    display: none;
    align-items: center;
    padding: 5px;
}

#submit-new-function-button {
    margin-right: 20px;
}

.bottombutton {
    width: 20%;
}

.bottombutton,
#submit-new-function-button,
#new-function-type-button {
    font-size: 16px;
    padding: 5px;
}

#add-modify-delete-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
}