<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Function Database</title>
        <link rel="stylesheet" href="../../static/funkdata/styles_addnew.css">
    </head>
<body>
<div id="title">Add Function</div>

<div id="choice-container">
<!-- Initialize the language choice drop-down menu-->
<div id="lang-menu-container">
    <select name="type" id="lang-menu" onchange=showFunctionTypes(this.value)>
            <option class="language" value="lang-default">Choose Language</option>
            {% for language in LFTDjango.keys %}
                <option class="language" id="language-{{ language }}" value="{{ language }}">{{ language }}</option> 
            {% endfor %}
            <option class="language" id="new-language" value="new-language">**add new language**</option>
    </select>
</div>

<!-- Initialize the function_type choice drop-down menus for each language-->
{% for language, function_types in LFTDjango.items %}
    <div id="{{language}}-type-container" class="language-type-container">
        <select class="function-menu" onchange=showFunctionData(this.value)>
            <option class="function-name" value="func-default" >Select Function Type</option>
                {% for function_type in function_types.keys %}
                    <option class="function-type" id="language-{{ function_type }}" value="{{ function_type }}">{{ function_type }}</option> 
                {% endfor %}
                <option class="function-type" id="new-function-type" value="new-function-type">**add new function type**</option>
        </select>
    </div>
{% endfor %}

</body>
</html>