<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Function Database</title>
        <script src="../../static/funkdata/script2.js" defer></script>
        <link rel="stylesheet" href="../../static/funkdata/styles.css">
    </head>

<body>
<h1>Choose programming language</h1>
<div id="lang-menu-container">
    <select name="type" id="lang-menu" onchange=testFunction(this.value)>
            <option class="language" value="lang-default">Choose Language</option>
{% for language in LFTDjango.keys %}
            <option class="language" id="language-{{ language }}" value="{{ language }}">{{ language }}</option> 
{% endfor %}
    </select>
</div>



{% for language, function_types in LFTDjango.items %}
<div id="{{language}}-type-container" class="language-type-container">

{% for function_type in function_types %}
    <select class="function-menu" >
    <option value="{{ function_type }}" >{{ function_type }}</option>
    </select>
    {% endfor %}
</div>
{% endfor %}

<div>
    <h4 id="neatdata"></h4>
</div>

<script>

    let data = JSON.parse("{{LFTJson|escapejs}}");

    printData = document.getElementById('neatdata');
    for (var x in data){
        printData.innerHTML += `${x} : ${data[x]}` + "<br><br>";
    }

    function testFunction(functionlanguage) {
        if (functionlanguage === "lang-default") {
            return;
        } else {
            document.querySelectorAll('.language-type-container').forEach(container => {
                container.style.display = 'none';
            })

            showdropdowns = document.getElementById(`${functionlanguage}-type-container`);
            showdropdowns.style.display = "flex";
        }
    }

</script>
</body>
</html>