<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Function Database</title>
        <link rel="stylesheet" href="../../static/funkdata/styles.css">
    </head>

<body>
<div id="title">Function Database</div>

<div id="choice-container">
<!-- Initialize the language choice drop-down menu-->
<div id="lang-menu-container">
    <select name="type" id="lang-menu" onchange=showFunctionTypes(this.value)>
            <option class="language" value="lang-default">Choose Language</option>
            {% for language in LFTDjango.keys %}
                <option class="language" id="language-{{ language }}" value="{{ language }}">{{ language }}</option> 
            {% endfor %}
    </select>
</div>

<!-- Initialize the function_type choice drop-down menus for each language-->
{% for language, function_types in LFTDjango.items %}
    <div id="{{language}}-type-container" class="language-type-container">

    {% for function_type, function_names in function_types.items %}
        <select class="function-menu" onchange=showFunctionData(this.value) >
            <option class="function-name" value="func-default">{{ function_type }} </option>
            {% for function_name in function_names %}
                <option class="function-name" value="{{ language }},{{ function_type }},{{ function_name }}" >{{ function_name }}</option>
            {% endfor %}
                <option class="function-name" value="deletetagdelete-{{ function_type }}" >**Select For Deletion**</option>
        </select>
    {% endfor %}
    </div>
{% endfor %}
</div>

<div id="full-data-container">
    <div class="data-container">
        <div id="syntax-title" class="data-title">Syntax</div>
        <div class="data-grow-wrap">
            <textarea id="syntax-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div class="data-container">
        <div id="parameters-title" class="data-title">Parameters</div>
        <div class="data-grow-wrap">
            <textarea id="parameters-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div id="bottom-data-container" class="data-container">
        <div id="return_value-title" class="data-title">Return Value</div>
        <div class="data-grow-wrap">
            <textarea id="return_value-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
</div>
<div id="add-modify-delete-container">
    <button id="add_function_link" onclick=addData()>Add New Function</button>
    <button id="allow_modify" onclick=allowModify()>Modify Selected Function</button>
    <button id="modify_current_function" onclick=modifyData()>Save Modifications</button>
    <button id="delete_current_language" onclick=deleteLanguage()>Delete Selected Language</button>
    <button id="delete_current_function_type" onclick=deleteFunctionType()>Delete Selected Function Type</button>
    <button id="delete_current_function_name" onclick=deleteFunctionName()>Delete Selected Function</button>
    <input type="hidden" id="current-language-tag">
    <input type="hidden" id="current-function-type-tag">
    <input type="hidden" id="current-function-name-tag">
</div>

<script>

    let database_dictionary = JSON.parse("{{LFTJson|escapejs}}");    

    function hideDataFields() {
            document.querySelector('#syntax-data').value = " ";
            document.querySelector('#parameters-data').value = " ";
            document.querySelector('#return_value-data').value = " ";
    }

    function showFunctionTypes(functionlanguage) {
        document.querySelectorAll('.language-type-container').forEach(container => {
            container.selectedIndex = 0;
            container.style.display = 'none';
                
        })

        if (functionlanguage === "lang-default") {
            hideDataFields();
            return;
            
        } else {

            showdropdowns = document.getElementById(`${functionlanguage}-type-container`);
            showdropdowns.style.display = "flex";
            document.querySelector('#current-language-tag').value = functionlanguage;
        }
        hideDataFields()
    }

    function showFunctionData(functiontype) {
        // functiontype is the a comma-separated string of language,function_type,function_name
        // database_dictionary is the JSON.parsed complete dictionary
        if (functiontype === "func-default"){
            hideDataFields();
            return;

        } else if (functiontype.slice(0,15) === "deletetagdelete") {
            hideDataFields();
            document.querySelector('#current-function-type-tag').value = functiontype.slice(16);
            return;
            
        } else {

            k = functiontype.split(",");
            console.log(k);
            // work through the dictionary using the keywords obtained, to locate the function_name dictionary
            // the value of the function_name key the string representation of the FunctionAll model.
            // the string is a comma-separated list of the data relating to that particular function
            lang=database_dictionary[k[0]];
            type=lang[k[1]];
            name=type[k[2]];
            data = name.split(",");
            document.querySelector('#syntax-data').value = `${data[0]}`;
            document.querySelector('#parameters-data').value = `${data[1]}`;
            document.querySelector('#return_value-data').value = `${data[2]}`;
            
            document.querySelector('#current-function-type-tag').value = k[1]
            document.querySelector('#current-function-name-tag').value = k[2];
        }
    }

    function addData() {
        window.location.href = "/funkdata/new"
    }

    function allowModify() {
        document.querySelector('#syntax-data').disabled = false;
        document.querySelector('#parameters-data').disabled = false;
        document.querySelector('#return_value-data').disabled = false;
    }

    function modifyData() {
        modify_function_language = document.querySelector('#current-language-tag').value;
        modify_function_type = document.querySelector('#current-function-type-tag').value;
        modify_function_name = document.querySelector('#current-function-name-tag').value;
        modify_syntax = document.querySelector('#syntax-data').value;
        modify_parameters = document.querySelector('#parameters-data').value;
        modify_return_value = document.querySelector('#return_value-data').value;
        
        fetch('/funkdata/modifydata', {
        method: "POST",
        body: JSON.stringify({
            language: modify_function_language,
            function_type: modify_function_type,
            function_name: modify_function_name,
            syntax: modify_syntax, 
            parameters: modify_parameters, 
            return_value: modify_return_value
        })
    })
        .then(response => response.json())
        .then(result => {
            alert(result);
        })
        
    }

    function deleteLanguage() {
        delete_function_language = document.querySelector('#current-language-tag').value;

        fetch('/funkdata/deletelang', {
        method: "POST",
        body: JSON.stringify({
            language: delete_function_language,
        })
    })
        .then(response => response.json())
        .then(result => {
            alert(result);
        })
}
    function deleteFunctionType() {
        delete_function_language = document.querySelector('#current-language-tag').value;
        delete_function_type = document.querySelector('#current-function-type-tag').value;
        alert(delete_function_type);
        fetch('/funkdata/deletetype', {
        method: "POST",
        body: JSON.stringify({
            language: delete_function_language,
            function_type: delete_function_type,
        })
    })
        .then(response => response.json())
        .then(result => {
            alert(result);
        })
}
    function deleteFunctionName() {
        delete_function_language = document.querySelector('#current-language-tag').value;
        delete_function_type = document.querySelector('#current-function-type-tag').value;
        delete_function_name = document.querySelector('#current-function-name-tag').value;

        fetch('/funkdata/deletename', {
        method: "POST",
        body: JSON.stringify({
            language: delete_function_language,
            function_type: delete_function_type,
            function_name: delete_function_name,
        })
    })
        .then(response => response.json())
        .then(result => {
            alert(result);
        })
}


</script>
</body>
</html>