<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Function Database</title>
        <link rel="stylesheet" href="../../static/funkdata/styles.css">

    </head>

<body>
<div id="title">Function Database</div>

<div id="choice-container">
<!-- Initialize the language choice drop-down menu-->
<div id="lang-menu-container">
    <select name="type" id="lang-menu" class="lang-menu" onchange=chooseLanguage(this.value)>
            <option class="language" value="lang-default">Language</option>
            <option class="language" disabled>------------------------</option>
            {% for language in LFTDjango.keys %}
                <option class="language" id="language-{{ language }}" value="{{ language }}">{{ language }}</option> 
            {% endfor %}
            <option class="language" disabled>------------------------</option>
                <option class="language add-new" id="new-language" value="new-language">New Language</option>
    </select>
    <input type="hidden" class="data-field data-field-choice" id="new-language-field">
</div>

<!-- Default dropdown for when a new language is being added-->
<div id="frozen-type-container" class="language-type-container">
    <select class="function-menu">
            <option class="function-type add-new" id="frozen-function-type">Function Type:</option>
    </select>
</div>

<!-- Initialize the function_type choice drop-down menus for each language-->
{% for language, function_types in LFTDjango.items %}
    <div id="{{language}}-type-container" class="language-type-container">

    {% for function_type, function_names in function_types.items %}
        <select class="function-menu" id="function-menu-{{ language }}-{{ function_type }}" onchange="chooseFunction(this.value, this.id, this.selectedIndex)">
            <option class="function-name" value="func-default">{{ function_type }} </option>
            <option class="language" disabled>------------------------</option>
            {% for function_name in function_names %}
                <option class="function-name" value="{{ language }},{{ function_type }},{{ function_name }}">{{ function_name }}</option>
            {% endfor %}
                <option class="function-name" disabled>------------------------</option>
                <!-- <option class="function-name add-new" value="addtagadd-{{ function_type }}" >Add New '{{ function_type }}'</option> -->
                <option class="function-name add-new" value="addtagadd-{{ function_type }}" >New {{ function_type }}</option>
                <option class="function-name" id="delete-function-type" value="deletetagdelete-{{ function_type }}" >Delete {{ function_type }}</option>
        </select>
        
    {% endfor %}
    
    </div>
{% endfor %}

    <div id="new-data-type-container">
        <button id="new-function-type-button" onclick=showNewFunctionTypeField()>New Function Type</button>
        <input id="new-function-type-field" class="data-field data-field-choice" type="text">
    </div>
</div>

<div id="full-data-container">
    <div class="data-container">
        <div id="syntax-title" class="data-title">Syntax</div>
        <div class="data-grow-wrap">
            <textarea id="syntax-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div class="data-container">
        <div id="parameters-title" class="data-title">Parameters</div>
        <div class="data-grow-wrap">
            <textarea id="parameters-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div class="data-container">
        <div id="return_value-title" class="data-title">Return Value</div>
        <div class="data-grow-wrap">
            <textarea id="return_value-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div class="data-container">
        <div id="example-title" class="data-title">Example</div>
        <div class="data-grow-wrap">
            <textarea id="example-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
    <div id="bottom-data-container" class="data-container">
        <div id="misc-title" class="data-title">Misc</div>
        <div class="data-grow-wrap">
            <textarea id="misc-data" class="data-field" disabled onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
    </div>
</div>

<div id="function-name-container">
    <div id="function-name-title" class="data-title">Name:</div>
    <input type="text" id="function-name-data" class="data-field data-field-choice"></input>
    <button id="submit-new-function-button" onclick=submitNewFunction()>Submit</button>
</div>

<div id="add-modify-delete-container">
    <button id="allow_modify" class="bottombutton" onclick=allowModify() disabled>Modify Selected Function</button>
    <button id="modify_current_function" class="bottombutton" onclick=saveModifications() disabled>Save Modifications</button>
    <button id="delete_current_language" class="bottombutton" onclick=deleteLanguage() disabled>Delete Selected Language</button>
    <button id="delete_current_function_type" class="bottombutton" onclick=deleteFunctionType() disabled>Delete Selected Function Type</button>
    <button id="delete_current_function_name" class="bottombutton" onclick=deleteFunctionName() disabled>Delete Selected Function</button>
    <input type="hidden" id="current-language-tag">
    <input type="hidden" id="current-function-type-tag">
    <input type="hidden" id="current-function-name-tag">
</div>
<script>
    let database_dictionary = JSON.parse("{{LFTJson|escapejs}}");

function setButtons(tag) {
    if (tag === "language-tag") {
        document.querySelector("#delete_current_language").disabled = false;
        document.querySelector("#delete_current_function_type").disabled = true;
        document.querySelector("#delete_current_function_name").disabled = true;
    }

    if (tag === "delete-type") {
        document.querySelector("#delete_current_function_type").disabled = false;
        document.querySelector("#delete_current_function_name").disabled = true;
     }

    if (tag === "function-chosen") {
        document.querySelector("#allow_modify").disabled = false;
        document.querySelector("#delete_current_function_type").disabled = true;
        document.querySelector("#delete_current_function_name").disabled = false;
    }
}

function resetDataFields() {
    document.querySelectorAll(".data-field").forEach(datafield => {
    datafield.value = '';
    })
}

function chooseLanguage(language) {
    // Reset most of the fields to their default state. Used when re-selecting a langugage
    // Language-tag will also reset the function type dropdowns (not used with re-selecting a funtion type)
    resetAll("language-tag");

    // Set up the appropriate buttons
    setButtons("language-tag");

    // Only effect of choosing default is clearing the fields
    if (language === "lang-default") {
        return;
        
    } else if (language === "new-language") {

        // Every field opens up for entering data
        document.querySelector("#new-language-field").setAttribute('type', "text");
        document.querySelector("#new-function-type-field").setAttribute('type', "text");
        document.querySelector("#function-name-container").style.display = "flex";

        allowModify();
        document.querySelector("#modify_current_function").disabled = true;

    } else {

        // A language was chosen, so the specific container relating to it is accessed exclusively
        document.querySelector(`#${language}-type-container`).style.display = "flex";

        // The chosen language is stored in a hidden field. Not necessary, but is consistent with storing the other drop-down values
        document.querySelector('#current-language-tag').value = language;
    }

    document.querySelector("#new-data-type-container").style.display = "flex";
}

function chooseFunction(functiontype, dropdown_id, current_selected_index) {
    
    // Reset most of the fields to their default state.
    // The type tag will reset all function menus before restoring the position of the clicked one
    // (Only relevent if switching between multiple function menus of the same language)
    resetAll("type-tag");
    document.querySelector(`#${dropdown_id}`).selectedIndex = current_selected_index;

    // functiontype is a comma-separated string of language,function_type,function_name
    // database_dictionary is the JSON.parsed complete dictionary
    if (functiontype === "func-default"){
        return;

    } else if (functiontype.slice(0,15) === "deletetagdelete") {

        // Store the function type in a hidden variable (by slicing off the delete tag)
        document.querySelector('#current-function-type-tag').value = functiontype.slice(16);

        // Set up the appropriate buttons
        setButtons("delete-type")

        return;

    } else if (functiontype.slice(0,9) === "addtagadd") {

        // Store the function type in a hidden variable (by slicing off the add tag)
        document.querySelector('#current-function-type-tag').value = functiontype.slice(10);

        allowModify();
        document.querySelector("#modify_current_function").disabled = true;

        document.querySelector("#new-function-type-button").disabled = true;
        document.querySelector("#function-name-container").style.display = "flex";
        return;

    } else {
        // A specific function was chosen. Store the identifying variables in a list.
        dictkeys = functiontype.split(",");
        
        // work through the dictionary using the keywords obtained, to locate the function_name dictionary which stores all the data
        // ( {lang: {type: {name: "data0,data1,..."}}}
        // the value of the function_name key the string representation of the FunctionAll model.
        // the string is a comma-separated list of the data relating to that particular function
        lang=database_dictionary[dictkeys[0]];
        type=lang[dictkeys[1]];
        name=type[dictkeys[2]];
        data = name.split(",");
        
        // Retrieve and display the data
        document.querySelector('#syntax-data').value = `${data[0]}`;
        document.querySelector('#parameters-data').value = `${data[1]}`;
        document.querySelector('#return_value-data').value = `${data[2]}`;
        document.querySelector('#example-data').value = `${data[3]}`;
        document.querySelector('#misc-data').value = `${data[4]}`;
        
        // Store the function type and name in hidden variables
        document.querySelector('#current-function-type-tag').value = dictkeys[1]
        document.querySelector('#current-function-name-tag').value = dictkeys[2];

        setButtons("function-chosen");
    }
}

function allowModify() {
    document.querySelectorAll(".data-field").forEach(datafield => {
    datafield.disabled = false;
    datafield.style.background = "#E8DAEF";
    })

    document.querySelector("#modify_current_function").disabled = false;

}

function saveModifications() {
    result = confirm("Are you sure you want to modify the data?")
    if(result) {
    
    // Collect the data from each relevant field, whether it has been modified or not
    modify_function_language = document.querySelector('#current-language-tag').value;
    modify_function_type = document.querySelector('#current-function-type-tag').value;
    modify_function_name = document.querySelector('#current-function-name-tag').value;
    modify_syntax = document.querySelector('#syntax-data').value;
    modify_parameters = document.querySelector('#parameters-data').value;
    modify_return_value = document.querySelector('#return_value-data').value;
    modify_example = document.querySelector('#example-data').value;
    modify_misc = document.querySelector('#misc-data').value;
    
    fetch('/funkdata/modifydata', {
        method: "POST",
        body: JSON.stringify({
            language: modify_function_language,
            function_type: modify_function_type,
            function_name: modify_function_name,
            syntax: modify_syntax, 
            parameters: modify_parameters, 
            return_value: modify_return_value,
            example: modify_example,
            misc: modify_misc,
        })
    })
    // the way to access the jsonresponse seems to be result . <keyword> for some reason
    // Alert the status and refresh the page to allow the changes to be seen immediately
    .then(response => response.json())
    .then(result => {
        alert(result.Status);
        location.reload();
    })
    }
}

function deleteLanguage() {
    result = confirm("Are you sure you want to delete this lanuage? It will delete the associated data as well.")
    if(result) {
    
    delete_language = document.querySelector('#current-language-tag').value;

    fetch('/funkdata/deletedata', {
        method: "POST",
        body: JSON.stringify({
            item_to_delete: "language",
            language: delete_language,
        })
    })
    .then(response => response.json())
    .then(result => {
        alert(result.Status);
        location.reload();
    })
    }
}

function deleteFunctionType() {
    result = confirm("Are you sure you want to delete this function type?")
    if(result) {

    delete_language = document.querySelector('#current-language-tag').value;
    delete_function_type = document.querySelector('#current-function-type-tag').value;

    fetch('/funkdata/deletedata', {
        method: "POST",
        body: JSON.stringify({
            item_to_delete: "function_type",
            language: delete_language,
            function_type: delete_function_type,
        })
    })
    .then(response => response.json())
    .then(result => {
        alert(result.Status);
        location.reload();
    })
    }
}
function deleteFunctionName() {
    result = confirm("Are you sure you want to delete this function?")
    if(result) {

    delete_language = document.querySelector('#current-language-tag').value;
    delete_function_type = document.querySelector('#current-function-type-tag').value;
    delete_function_name = document.querySelector('#current-function-name-tag').value;

    fetch('/funkdata/deletedata', {
    method: "POST",
        body: JSON.stringify({
            item_to_delete: "function_name",
            language: delete_language,
            function_type: delete_function_type,
            function_name: delete_function_name,
        })
    })
    .then(response => response.json())
    .then(result => {
        alert(result.Status);
        location.reload();
    })
    }
}

function showNewFunctionTypeField() {

    document.querySelector("#new-function-type-field").setAttribute('type', "text");

    document.querySelector("#function-name-container").style.display = "flex";
    document.querySelector("#current-function-type-tag").value = "new-function-type";

    // Clear the data fields and reset any open function menus
    resetDataFields();
    document.querySelectorAll('.function-menu').forEach(dropdown => {
            dropdown.selectedIndex = '0';
})

    allowModify();
    document.querySelector("#modify_current_function").disabled = true;
}

// Checks that none of the data fields are empty when trying to submit
function checkNotNull() {
    if ((!document.querySelector("#syntax-data").value) || 
        (!document.querySelector("#parameters-data").value) || 
        (!document.querySelector("#return_value-data").value) ||
        (!document.querySelector("#example-data").value) ||
        (!document.querySelector("#misc-data").value)) {
        alert("blank data field error")
        return "error";
    }
}

function whitespace_check(value_submit) {
    for (i = 0; i < value_submit.length; i++) {
        if (value_submit.charAt(i) === ' ') {
            alert("whitespace error");
            return "error";
        }
    }
}

// Ensure that the language is not default nor a blank new language field when trying to submit
function getLanguageSubmit(selected_language) {

    if (selected_language === "lang-default") {
        alert ("language-default-error")
        return "error";

    // If a new language is being submitted, make sure that the language field isn't blank & no whitespaces
    } else if (selected_language === "new-language") {

        if (!document.querySelector("#new-language-field").value) {
            alert("blank_language_field_error");
            return "error";
            
        } else {
            language_submit = document.querySelector("#new-language-field").value;

            space_check = whitespace_check(language_submit);
            if (space_check === "error") {
                return "error";
            } else {
                return language_submit;
            }
        }
    // Neither default nor new, so return the selected language as the one to submit
    } else {

    return selected_language;

    }
}

// Ensure that the function type is not default nor a blank new function type field when trying to submit
function getFunctionTypeSubmit(selected_language) {

    if (selected_language === "new-language") {

        if (!document.querySelector("#new-function-type-field").value) {
            alert("blank_function_type_error");
            return "error";

        } else {
            new_function_type = document.querySelector("#new-function-type-field").value;

            space_check = whitespace_check(new_function_type);
            if (space_check === "error") {
                return "error";
            } else {
                return new_function_type;
            }
        }

    } else {
        // Retrieve the function type via the hidden variable
        selected_function_type = document.querySelector("#current-function-type-tag").value;
    }

    // Either going to be a new function type or an existing one. No need to change/verify the existing one.
    if (selected_function_type === "new-function-type") {

        if (!document.querySelector("#new-function-type-field").value) {
            alert("blank_function_type_error");
            return "error";

        } else {
            new_function_type = document.querySelector("#new-function-type-field").value;

            space_check = whitespace_check(new_function_type);
            if (space_check === "error") {
                return "error";
            } else {
                return new_function_type;
            }
        }
    } else {

    return selected_function_type;

    }
}

// Collect the information from the various fields while checking for errors 
function submitNewFunction() {
    result = confirm("Are you sure?")
    if(result) {
    
    selected_language = document.querySelector("#lang-menu").value;

    language_submit = getLanguageSubmit(selected_language);
    if (language_submit === "error") {
        return;
    }

    function_type_submit = getFunctionTypeSubmit(selected_language)
    if (function_type_submit === "error") {
        return;
    }

    data_submit_check = checkNotNull()
    if (data_submit_check === "error") {
        return;
    }

    function_name_submit = document.querySelector("#function-name-data").value;
    syntax_submit = document.querySelector("#syntax-data").value;
    parameters_submit = document.querySelector("#parameters-data").value;
    return_value_submit = document.querySelector("#return_value-data").value;
    example_submit = document.querySelector("#example-data").value;
    misc_submit = document.querySelector("#misc-data").value;

    // note: fetch has to use 'body', not some random variable name
    // note: saving the return of stringify as a variable and sending to a different function resulted in errors

    fetch('/funkdata/submitnew', {
        method: "POST",
        body: JSON.stringify({
            language: language_submit,
            function_type: function_type_submit,
            function_name: function_name_submit,
            syntax: syntax_submit, 
            parameters: parameters_submit, 
            return_value: return_value_submit,
            example: example_submit,
            misc: misc_submit,
        })
    })

    // the way to access the jsonresponse seems to be result . <keyword> for some reason
        .then(response => response.json())
        .then(result => {
            alert(result.Status);
            location.reload();
        })
    }   
}

function resetAll(tag) {

    resetDataFields();

    document.querySelector("#function-name-container").style.display = "none";

    // re-disable data fields after allowing to modify
    document.querySelector("#allow_modify").disabled = true;
    document.querySelector("#modify_current_function").disabled = true;

    document.querySelectorAll(".data-field").forEach(field => {
        field.style.background = 'lightcyan';
        field.disabled = true;
    })

    document.querySelector("#new-function-type-button").disabled = false;

    document.querySelector("#new-language-field").setAttribute("type", "hidden");

    try {document.querySelector("#new-function-type-field").setAttribute('type', "hidden");}
    catch(err) { }

    if (tag === "language-tag") {

        document.querySelector("#new-data-type-container").style.display = "none";

        // hide & reset the function type dropdowns
        document.querySelectorAll('.language-type-container').forEach(container => {
        container.style.display = 'none';
        })

        document.querySelectorAll('.function-menu').forEach(dropdown => {
        dropdown.selectedIndex = '0';
        })
    }

    if (tag === "type-tag") {
        document.querySelectorAll('.function-menu').forEach(dropdown => {
            dropdown.selectedIndex = '0';
        })

    }
}
</script>
</body>
</html>