{% extends "testbase/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/funkdata/styles.css">
 
{% endblock %}

{% block body %}
    <h1>Choose programming language</h1>
    <div id="lang-menu-container">
        <select id="lang-menu">
                <option value="lang-default">Choose Language</option>
                {% for language in language_database %}
                <option class="language">{{ language.unique_language }}</option> 
                {% empty %}
                <option class="empty">Empty</option>
                {% endfor %}
        </select>
    </div>



    <div id="JS-function-menu-container" class="function-menu-container">

        {% for language, function_types in language_function_types.items %}
            <select class="function-menu" class="JSFM">
                <option value="JS-num-default">{{ language }}</option>
                {% for function_type in function_types %}
                    <option value="JS-num-default">{{ function_type }}</option>
            {% endfor %}
        </select>
        {% endfor %}
    </div>

    <script>
        function displayTypes() {
            langMenu = document.querySelector('#lang-menu');
            if (langMenu.value === "javascript") {
                    console.log("JS success!");
                    document.querySelector('#JS-function-menu-container').style.display = 'flex';
                    document.querySelectorAll('.JSFM').forEach(menu => {
                    menu.style.display = 'block';
        });

            } else if (langMenu.value === "python") {
                    console.log("python success!");
                    document.querySelector('#Py-function-menu-container').style.display = 'flex';
                    document.querySelectorAll('.PyFM').forEach(menu => {
                    menu.style.display = 'block';
        });
        }
    }
        document.querySelector('#lang-menu').onchange = displayTypes;
    </script>

{% endblock %}