<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Function Database</title>
        <script src="../../static/funkdata/script3.js" defer></script>
    </head>

<body>
<h1>Choose programming language</h1>
<div id="lang-menu-container">
    <select name="type" id="lang-menu" onchange=testFunction(this.value)>
            <option value="lang-default">Choose Language</option>
            <option value="python" id="language-python">python</option>
            <option value="javascript" id="language-javascript">javascript</option> 
    </select>
</div>

<script>

    //document.querySelector('#language-python').onchange = testFunction;
    //document.querySelector('#language-javascript').onclick = testFunction;

    function testFunction(functionlanguage) {
        if (functionlanguage === "lang-default") {
            return;
        } else {
            console.log(functionlanguage)
        }
    }

</script>

